.cards{
    display: flex;
}
.heldCard{
    width: 100px;
    height: 150px;
    border: 10px;
    border-style: double;

}

.heldCard2{
    width: 100px;
    height: 150px;
    border: 10px;
    border-style: double;
}