<!DOCTYPE html>
<body>


<div class="cards">
<div class="heldCard">
    <p>Card: {{value.Player1HeldCard}}</p>
</div>
<div class="heldCard2" *ngIf="drawCardBool">
    <p>Card: {{drawnCard}}</p>
</div>
</div>
<div>

    <form #userPost="ngForm" (ngSubmit)="drawCard(); userPost.resetForm()"  class="contact-left">
        <div class="contact-left-title">
            <hr>

        </div>
       <button type="submit">Draw a card! </button> 
    </form>

    <div *ngIf="drawCardBool">
      <label>
        <input type="radio" name="options" [(ngModel)]="hold" value="{{value.Player1HeldCard}}" />
        {{value.Player1HeldCard}}
      </label>
      
      <label>
        <input type="radio" name="options" [(ngModel)]="hold" value="{{drawnCard}}" />
        {{drawnCard}}
      </label>
      
      <!-- Submit button -->
      <button (click)="play()">Play!</button>
    </div>
</div>




</body>