.cards{
    display: flex;
    margin-left: auto;
    
}

.cards.maid{
    background-color: limegreen;
}
.heldCard{
    width: 100px;
    height: 150px;
    border: 10px;
    border-style: double;

}

.heldCard.playable{
    background-color: grey;
}

.heldCard2{
    width: 100px;
    height: 150px;
    border: 10px;
    border-style: double;
}

.heldCard2.playable{
    background-color: grey;
}

.shownCard{
    width: 100px;
    height: 150px;
    border: 10px;
    border-style: double;
    margin-left: 90px;
}

.opponentHeldCard{
    width: 100px;
    height: 150px;
    border: 10px;
    border-style: double;
    margin-left: 500px;
}

.opponentHeldCard.maid{
    background-color: limegreen;
}

.guardCard{
    flex-direction: column;
    width: 100px;
    height: 150px;
    border: 10px;
    border-style: double;
    margin-left: 500px;

}

