.cards{
    display: flex;
    margin-left: auto;
}
.heldCard{
    width: 100px;
    height: 150px;
    border: 10px;
    border-style: double;

}

.heldCard2{
    width: 100px;
    height: 150px;
    border: 10px;
    border-style: double;
}

.opponentHeldCard{
    width: 100px;
    height: 150px;
    border: 10px;
    border-style: double;
    margin-left: 500px;
}